body {
    background-image: url('./Media/galaxy.jpeg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-size: cover;
    /* Ensure the image covers the viewport */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent tiling */
    background-attachment: fixed;
    /* Keep the background static during scrolling */
}

header {
    background-image: url('./Media/sunrise.jpg');
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 20px #fff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.category {
    margin-bottom: 2rem;
}
.category h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #e332cc;
    font-weight:900;
}
.media-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
.media-item {
    width: 300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.media-item iframe {
    width: 100%;
    height: 180px;
    border: none;
}
.media-item p {
    padding: 0.5rem;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
}
footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: #333;
    color: #fff;
    margin-top: 2rem;
}

