<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Design</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>

    <nav>
    </nav>

    <div class="bigbox glass">
        <div class="smallbox">
            <img id="stars" src="./Media/aesthetic_tree.png">
            <label id="label1" for="stars"><h2>Starry Night</h2></label>
        </div>
        <div class="smallbox">
            <img id="galaxy" src="./Media/galaxy.jpeg">
            <label id="label2" for="galaxy"><h2>Galaxy</h2</label>
        </div>
    </div>
    
    <div class="titlebox">
        <h2>
            Lorem ipsum dolor sit amet consectetur elit. Laboriosam fuga delectus autem neque, vero quaerat velit corporis sit ipsa.
        </h2>
    </div>
     
    <footer>
    </footer>

</body>
</html>