body {
    background-image: url('download.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    text-align: center; /* Center content horizontally */
}

nav {
    width: 60vw;
    height: 50px;
    background-color: plum;
    display: flex;
    justify-content: space-between; /* Space between logo and search bar */
    align-items: center;
    margin: 20px auto 0 auto; /* Center nav horizontally and add top margin */
}

.logo {
    border: 0;
    border-radius: 50px;
    margin: 10px;
    width: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-button {
    padding: 5px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    cursor: pointer;
}

.search-icon {
    width: 16px;
    height: 16px;
}

.main {
    /* margin: auto; */
    margin: 10px auto 0px auto;
    background-color: white;
    width: 60vw;
    /* margin-bottom: 20px; */
}

.top {
    background-color: blue;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    color: white;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-links a:hover {
    transition: 0.4s ease;
    color: blue;
    background-color: white;
}

.post-title {
    font-family: 'Chatlong', 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author {
    font-size: xx-small;
    margin-top: -15px;
    font-family: 'JetBrains Mono', 'Consolas', 'Cambria';
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px auto;
    width: 50vw;
}

.game-info {
    font-family: 'Berlin Sans FB', 'Inconsolata', Georgia, 'Times New Roman', Times, serif;
    margin: 20px 40px;
    /* padding: 0 20px; */
}

.game-image {
    width: 900px;
    border: 2px solid rgb(127, 30, 237);
}

.second-head {
    font-family: 'LEMON MILK', 'Leelawadee', Tahoma;
}

.requirements {
    font-family: 'Winter Minie', Tahoma;
}

iframe {
    margin: 30px auto;
}

#launcher-error {
    margin: 15px 200px;
}

.sub-head {
    font-family: 'LEMON MILK', 'Gill Sans MT';
    text-decoration: underline;
}

.download-link {
    text-decoration: none;
    font-family: 'JetBrains Mono', 'Inconsolata', 'Verdana', '';
    padding: 5px;
    border: 0;
    border-radius: 20px;
}

.download-link:hover {
    background-color: #888989;
    color: orange;
    transition: 0.2s;
}

#sub-sub-head {
    font-family: 'Monotype Corsiva', 'Segoe Print', 'Sriracha';
    margin: auto;
}

#channel-link {
    font-family: 'Sunday Milk', 'Winter Minie';
    margin: -10px auto;
    color:rgb(72, 15, 100);
    letter-spacing: 1.5px;
}


footer {
    /* margin: auto; */
    background-color: rgb(46, 46, 46);
    color: white;
    width: 60vw;
    margin: 0px auto;
}