
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: whitesmoke;
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    gap: 200px;
    border-bottom: 0.1px solid rgb(234, 234, 234);
}

.nav-head {
    font-family: 'Caveat Brush', 'Blackadder ITC', 'Boogie Boys';
    font-weight: 500;
    font-size: 30px;
    border-left: 3px solid rgb(192, 190, 190);
    padding-left: 15px;
}


.search {
    background-color: gray;
    width: 200px;
    height: 25px;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 350px;
}

.right-btns {
    display: flex;
    gap: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: 200px;
    gap: 150px;
}

.pfp {
    border-radius: 50%;
    position: relative;
    right: 194px;
    bottom: 10px;
    
}