@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

@font-face {
    font-family: 'Comic Sans MS';
    src: url('./font/comic-webfont.woff2') format('woff2'),
         url('./font/comic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: whitesmoke;
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 200px;
    border-bottom: 0.1px solid rgb(234, 234, 234);
}

.nav-head {
    font-family: 'Caveat Brush', 'Blackadder ITC', 'Boogie Boys';
    font-weight: 500;
    font-size: 30px;
    border-left: 3px solid rgb(192, 190, 190);
    padding-left: 15px;
}


.search {
    background-color: #e4e4e4;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    width: 200px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    opacity: 40%;
    padding-right: 5px;
    cursor: text;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 5px;
    /* margin-left: 350px; */
}

.right-btns {
    display: flex;
    gap: 20px;
    transition: 0.2s ease-in-out;
}


.right-btns img:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}


.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-right: 450px;
    gap: 100px;
}

.pfp {
    border-radius: 50%;
    position: relative;
    left: 194px;
    bottom: 10px;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.top-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.name {
    font-family: 'Inconsolata', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
}

.flw-btn {
    background-color: #3997ef;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 5px;
}

.heart {
    background: #3997ef;
    padding: 8px 18px;
    border-radius: 5px;
}

.middle-row {
    display: flex;
    gap: 35px;
    font-family: 'Comic Sans MS';
}

.heart:hover, .three-dots:hover, .flw-btn:hover, .content-web-link:hover {
    cursor: pointer;
}

.last-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    font-family: 'Tahoma', 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content-web-link {
    color: #496287;
}

.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 100px;
    gap: 45px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.story:hover {
    cursor: pointer;
}

.story-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.story-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#right-arrow {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: -30px;
    filter: invert(50%);
    cursor: pointer;
    margin-top: 18px;
}


.reels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px 200px;
}

.post {
    width: 250px;
    height: 350px;
    transition: 0.2s ease-in-out;
}

.post-img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.post:hover {
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

@media (max-width: 768px) { 
    
}