body {
    background-image: url(dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 h1 {
    font-family: 'Franklin Gothic', 'Times New Roman', Times, serif;
    color: white;
    font-size: 60px;
    text-align: center;
 }

.container {
    width: 350px;
    height: 520px;
    background-color: rgb(0, 0, 5);
    margin: auto;
    margin-top: 40px;
    border: 5px solid black;
    border-radius: 10px;
}

.emptyArea {
    width: 350px;
    height: 150px;
    background-color: rgb(31, 26, 26);
    border-radius: 10px;
    border: 1px solid white;
} 

.row {
    width: 348px;
    height: 50px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.cell {
    width: 80px;
    height: 50px;
    background-color: gray;
    margin: 0 5px;
    border-radius: 20px;
}

.cell:hover {
    cursor: pointer;
}

#dark {
    background-color: rgb(37, 35, 35);
    color: gray;
}


#equal {
    background-color: rgb(62, 142, 115);
}

.cell p {
    margin: 20px 33px;
    font-size: 16px; 
    font-family: 'Chatlong', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cell img {
    margin: 10px 25px;
}