
body {
    background-color: bisque;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    color: red;
    font-size: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}