
body {
    background-color: bisque;
    background-image: url('deer-forest.jpg');
    background-size: cover;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    width: 100%;
}

.heading {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 100px;
    font-family: 'LEMON MILK', 'Impact', 'Chatlong', 'Trebuchet MS', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    line-height: 1.3;
    text-transform: uppercase;

    

}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}