
body {
    background-color: bisque;
    background-image: url('deer-forest.jpg');
    background-size: cover;
}

.main {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    color: red;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}