:root {
  --clr-primary-100: #e6f6ff;
  --clr-primary-700: #005499;
  --clr-primary-800: #001833;
  --clr-primary-900: #00050a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  display: grid;
  place-items: center;
  background: var(--clr-primary-800);
  font-family: system-ui;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--clr-primary-100);
  text-align: center;
  filter: drop-shadow(0 0.5rem 1rem var(--clr-primary-700));
  margin-top: 2rem;
  text-transform: uppercase;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-primary-100);
    text-align: center;
    margin: 40px 0;
    position: relative;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.slider {
  width: 100%;
  height: 300px;
  margin: auto;
  display: grid;
  place-items: center;
  margin-bottom: 4rem;
}
.slide-track {
  display: flex;
  width: calc(300px * 15);
  animation: scroll 60s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 7.5));
  }
}

.slide {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  object-fit: cover;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-700);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
img:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}
