
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-size: contain;
    height:97.6vh;
}

nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; 
    width: 80%;    
    z-index: 1000;
    border-radius: 30px;
    padding: 10px 0;
    margin: 10px 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
  
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logoContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 100px;
    border-radius: 20px;
    margin: 0 10px;
    transition: 0.3s ease-in;
}

.logo:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
    width: 110px;
    border: 2px solid white;
}

.title {
    font-family: 'Bowlby One SC', 'Roboto', 'Helvetica', 'Gill Sans MT', sans-serif;
    color: rgb(103, 41, 41);
    letter-spacing: 2px;
    transition: 0.3s ease;
}

.title:hover {
    transition: 0.3s ease;
    padding-left: 5px;
    cursor: pointer;
}

ul {
    display: flex;
}

li {
    margin: 10px;
    list-style: none;
}

li .menu-buttons {
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color : rgb(88, 21, 21);
    font-family: 'Gill Sans MT', 'Courier New', Courier, monospace;
    transition: 0.3s ease-in-out;
}

.menu-buttons:hover {
     cursor: pointer; 
     background-color: white;
     transition: 0.5s ease;
     color: black;
     padding: 15px 30px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    flex: 1;
}


.main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: 180px; 
    padding-left: 20px;
    margin-left: 72px;
}

.text-area {
    width: 550px;
    margin: 0px 45px;
    padding: 50px 50px 40px 20px;
    transition: 0.3s ease-in-out;
}

.text-area:hover {
    cursor: pointer;
    margin: 0px 40px 0px 60px;
    padding: 55px 50px 50px 40px;
    transition: 0.3s ease-in-out;
}

h2 {
    font-family: 'Montserrat';
    margin: 10px 10px;
    font-size: 55px;
}

.coloured {
    background: linear-gradient(to right, rgb(25, 89, 208), blue, darkblue);
    -webkit-background-clip: text;
    color: transparent;
    margin: 10px 10px;
}

p {
    margin: 10px 15px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input {
    width: 175px;
    height: 25px;
    margin: 5px 20px;
    padding-left: 15px;
    border-radius: 20px;
    border: 2px solid white;
}

.form-button {
    width: 75px;
    height: 30px;
    margin: 10px 22px;
    margin-bottom: 30px;
    padding: 4px 5px;
    border-radius: 20px;
    background: linear-gradient(#04baf6, #009eeb, #0863dc);  /* rgb(89, 89, 255)  */
    border: 2px solid #009eeb; 
    font-family: 'Inconsolata';
    font-weight: 700;
    font-size: 16px;
}

.webLink {
    text-decoration: none;
    margin: 25px;
    color: rgb(68, 68, 68);
    font-weight: 700;
    font-family: 'JetBrains Mono', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s ease-out;
}

.webLink:hover {
    border-radius: 20px;
    transition: 0.3s ease-out;
    background-color: whitesmoke;
    color: blue;
    padding: 5px 10px;
}

.mainImg {
   border-radius: 50px 200px 40px 150px;
   width: 500px;
}



/* .test {
    background-color: #9198e5;
    width: 50px;
    height: 500px;
} */