@import url(https://db.onlinewebfonts.com/c/d86aa14b4ac846cc2ed18147f353cfa3?family=Neuzeit+Grotesk+Cond+W03+Black);
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #080808;
    font-family: 'Neuzeit Grotesk Cond W03 Black', 'Lilita One';
    color: white;
}

/* ========================================== */

/* Navbar styling */

nav {
    /* border: 2px solid white; */
    height: 50px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.autotype-head {
    position: relative;
    bottom: 30px;
    font-size: 35px;
}

.nav-title {
    font-size: 30px;
    color: rgb(78, 254, 195);
    filter: drop-shadow(16px 16px 20px aquamarine);
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-cta-buttons {
    color: white;
    padding-bottom: 10px;
    padding-bottom: 20px;
}

.nav-cta-buttons:hover {
    color: rgb(78, 254, 195);
    filter: drop-shadow(16px 16px 20px aquamarine);
    cursor: pointer;
    border-bottom: 3px solid rgb(78, 254, 195);
}

.mode-change {
    width: 25px;
    cursor: pointer;
    transition: 1s ease;
}

.mode-change:hover {
    filter: drop-shadow(-1px 5px 10px yellow);
    transform: rotate(180deg);
    transition: 1s ease;
}

/* ============================================== */

/* Main styling */

main {
    margin-top: 80px;
    margin-left: 10%;
    /* border: 3px solid white; */
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.main-desc {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.logo {
    width: 500px;
    filter: drop-shadow(16px 16px 20px rgb(127, 234, 255));
}

.main-title {
    font-size: 65px;
}

.sam {
    color: rgb(78, 254, 195);
}

.sub-title {
    font-size: 25px;
}

.main-autotype {
    font-size: 20px;
    color: rgb(78, 254, 195);
    filter: drop-shadow(16px 16px 20px aquamarine);
}

.main-desc {
    font-family: 'DM Sans','Lilita One';
    font-size: 10px;
    max-width: 400px;
    margin-top: 10px;
}


.social {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}

.social-links {
    border: 2px solid rgb(78, 254, 195);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
}

.social-links:hover {
    transform: rotate(360deg) scale(1.07);
    transition: 1s ease;
}

.social-logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    filter: drop-shadow(16px 16px 20px aquamarine);
}

.scroll {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Imgscroll {
    filter: invert(75%) drop-shadow(10px 10px 10px aquamarine);
    transition: 0.5s ease;
}

.Imgscroll:hover {
    transform: scale(1.2);
    transition: 0.5s ease;
    cursor:pointer;
}