html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JetBrains Mono', 'Inconsolata', 'Consola Mono', monospace;
    background-image: url('4k-black.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
}

.nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 100px;
    padding: 10px 0;
    z-index: 1000;
    transition: background 0.3s;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.nav-head {
    font-size: 25px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d9d698;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    margin-top: 80px;
    display: flex;
    gap: 170px;
    justify-content: center;
    width: 100%;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: #d9d698;
    width: 35%;
    transition: transform 0.3s;
}

.box:hover {
    transform: translateY(-5px);
}

#box1 { 
    width: 500px; 
    height: 240px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
#box2 { 
    padding-top: 50px; 
    width: 530px; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.main-title {
    color: rgb(176, 176, 176);
    font-size: 40px;
    position: relative;
    bottom: 140px;
    right: 360px;
}

.main-autotype { color: white; }

.arrow, .red-line, .let {
    position: relative;
    transition: opacity 0.3s;
}

.arrow { bottom: 535px; left: 145px; width: 75px; transform: rotate(80deg); }
.red-line { bottom: 540px; left: 138px; width: 45px; transform: rotate(30deg); }
.let { color: red; font-weight: 900; font-size: 25px; bottom: 700px; left: 210px; transform: rotate(-10deg); }


.section-title {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
}

